<template>
        <a :href="href" :title="title" class="nav-item">
            {{ label }}
        </a>
</template>

<script>
import NavMenuMixins from '../mixins/NavMenuMixins.js';
export default {
    name: 'nav-menu',
    mixins: [
        NavMenuMixins
    ],
    props: {
        item: {
            type   : String,
            default: '{}',
        }
    },
    data () {
        return {
            navItem: JSON.parse(this.item),
        };
    },
    computed: {
        href() {
            return this.navItem.href;
        },
        id() {},
        label() {
            return this.navItem.label;
        },
        title() {
            return this.navItem.title ? this.navItem.title : `View ${this.navItem.label}`;
        },
    },
    methods: {
    },
    mounted() {
        window.addEventListener('resize', this.updateViewport);
        setTimeout( this.updateViewport, 50);
    },
}
</script>

<style lang="scss" scoped>
$main-nav-height: 90px;
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    @extend .flex-col;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    &:hover {
        color: lighten(black, 95%);
        background-color: rgba(#666, 0.5);
    }
}

</style>
