<template>
    <div>
        <nav :id="id" class="nav-menu">
            <div class="brand">
                <a href="/" title="home">
                    {{ title }}
                </a>
            </div>
            <div class="menu" v-if="showItems">
                <ul class="items">
                    <li v-for="item in menuItems">
                        <nav-item :item="JSON.stringify(item)"></nav-item>
                    </li>
                </ul>
            </div>
            <div v-else>
                <button class="menu-button" @click="toggleMobileMenu" :class="{active: showMobileMenu}">
                    <div class="hamburger"></div>
                </button>
                <div class="mobile-menu" v-if="showMobileMenu">
                    <ul class="mobile-menu-items">
                        <li v-for="item in menuItems">
                            <nav-item :item="JSON.stringify(item)"></nav-item>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
import NavMenuMixins from '../mixins/NavMenuMixins.js';
import NavItem from './NavItem.vue';

export default {
    name: 'nav-menu',
    components: {
        NavItem,
    },
    mixins: [
        NavMenuMixins
    ],
    props: {
        id: {
            type   : String,
            default: 'nav-menu',
        },
        title: {
            type   : String,
            default: 'Home',
        },
        items: {
            type   : String,
            default: '{}',
        }
    },
    data () {
        return {
            menuItems    : JSON.parse(this.items),
            menuItemWidth: 0,
            showMobileMenu: false,
            logoWidth    : 0,
        };
    },
    computed: {
        showItems() {
            return this.logoWidth + this.menuItemWidth < this.windowWidth -50 || this.windowWidth > 768;
        }
    },
    methods: {
        toggleMobileMenu() {
            this.showMobileMenu = ! this.showMobileMenu;
        },
    },
    mounted() {
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    body {
        padding-top: 90px;
    }
</style>
<style lang="scss" scoped>
button:focus {outline:0;}
$main-nav-height: 90px;
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-menu {
    background-color: #ccc;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $main-nav-height;
    * {
        box-sizing: border-box;
        height: $main-nav-height;
    }
    display: flex;
    justify-content: space-between;
    a {
        @extend .flex-col;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: black;
        &:hover {
            color: lighten(black, 95%);
            background-color: rgba(#666, 0.5);
        }
    }
    .brand {
        flex: 0 0 200px;
        @extend .flex-col;
        background-color: #eee;
        a {
            flex: 0 0 100%;
            width: 100%;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .items {
        display: flex;
        li {
            min-width: 150px;
            &not(:last-of-type) {
                padding-right: 0.25rem;
            }
        }
    }
}
.hamburger,
.hamburger:before,
.hamburger:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #666;
    position: absolute;
    display: block;
    content: '';
}
.hamburger:before{
    top: -10px;
}
.hamburger:after {
    bottom: -10px;
}
.menu-button {
    box-sizing: border-box;
    position: absolute;
    right: $main-nav-height * 0.125;
    top: $main-nav-height * 0.125;
    width: $main-nav-height * 0.75;
    height: $main-nav-height * 0.75;
    @extend .flex-col;
    border-radius: 3px;
    border: 2px solid #666;
    &:hover, &.active {
        border: 5px solid white;
        border-radius: 5px;
        cursor: pointer;
        .hamburger,
        .hamburger:before,
        .hamburger:after {
            background: white;
        }
    }
}
.mobile-menu {
    position: fixed;
    display: block;
    left: 0;
    top: $main-nav-height;
    width: 100vw;
    ul {
        display: block;
        li {
            background: white;
            border-bottom: 1px solid #eee;
        }
    }
}
</style>
